# Install Data
node_modules

# Build
dist/

# Config + Database Files
config.yml
config/config.json5
*.sqlite
*.sqlite3
*.sqlite-shm
*.sqlite-wal

# Logs
logs/

#Webserver stuff
images/

#Docker
docker_env/
